.legal-notice {
    width: 90%;
    margin: 70px auto 30px auto;
    text-align: justify;
    
    h5 {
        font-size: 1.4rem;
        margin: 20px auto;
        font-family: "Rubik";
    }
    
    p{
        font-family: "Raleway";

        span {
            font-weight: bold;
        }
    }
}