.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5A5B57;
    position: fixed;
    height: 170px;
    top: 0;
    left: 0;
    z-index: 999;


    img {
        width: 80%;
        margin: 9px auto 0 auto;
    }
}