.mechanics-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 70px auto 30px auto;

    .validate {
        width: 40%;
        max-width: 200px;
        border: none;
        color: #fff;
        background: #E48156;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        
        &:hover {
            background: #e48156ea;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            transform: translateY(-2px);
        }
      }

    .checkbox-input {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;

        .checkbox-input {
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="checkbox"] {
                display: none;
            }

            // Génération des classes et des images
            @each $name,
            $image in (freinage: "freinage.jpg",
                batterie: "batterie.jpg",
                suspension: "suspension.jpg",
                courroie: "courroie.jpg",
                eclairage: "eclairage.jpg",
                carrosserie: "carrosserie.jpg",
                transmission: "transmission.jpg",
                moteur: "motorisation.jpg",
                echappement : "echappement.jpg"

            ) {
                &.#{$name} input[type="checkbox"]+label {
                    background: url(../assets/img/images-input/#{$image}) center/cover;
                }
            }

            input[type="checkbox"]+label {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 0;
                height: 90px;
                width: 250px;
                margin: 10px;
                padding: 8px;
                border-radius: 10px;
                border: 4px solid #50994F;
                position: relative;
                z-index: 1;
            }

            label {
                cursor: pointer;
                position: relative;
                display: inline-block;

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: #50994fa0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 6px;
                    z-index: -1;
                }
            }

            input[type="checkbox"]:checked+label {
                background: #50994feb;
                box-shadow: inset 2px 2px 12px #0000006c;
            }

            label {
                cursor: pointer;
                font-family: "Raleway";
                font-weight: bold;
                color: #fff;
                font-size: 1.5rem;

                .label {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    .separator {
                        width: 90%;
                        margin: auto;
                        height: 3px;
                        border-radius: 3px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}