.privacy-policy {
    margin: 80px auto 30px auto;
    width: 90%;
    text-align: justify;

    p {
        font-family: "Raleway";
    }

    h5 {
        font-size: 1.4rem;
        margin: 20px auto;
        font-family: "Rubik";
    }
}