.title {
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 280px 0 35px 0;
    gap: 3%;
    padding: 0 10px;

    &::after {
        content: "";
        position: absolute;
        top: 160%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 5px;
        background: #E48156;
        border-radius: 3px;
    }
    
    img {
        width: 50px;
        
        &:nth-child(1) {
            transform: translateX(-6px);
        }
    }

    
    h2 {
        font-family: "raleway";
        font-size: 1.9rem;
        letter-spacing: 6px;
        color: #E48156;
    }
}