@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #5A5B57;
}
.logo img {
  width: 80%;
  max-width: 700px;
  margin: 9px auto 0 auto;
}

.navigation {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top: 167px;
  background: #fff;
  z-index: 5;
  width: 100%;
}
.navigation .nav, .navigation .nav-active {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  height: 60px;
  font-family: "Rubik";
  background: #D9D9D9;
  border: 3px solid #5A5B57;
  border-radius: 0 0 10px 10px;
  color: #5A5B57;
  transition: background 0.2s ease;
}
.navigation .nav:hover, .navigation .nav-active:hover {
  background: #b8b8b8;
  color: #5A5B57;
  font-weight: 600;
}
.navigation .nav li, .navigation .nav-active li {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.navigation .nav-active {
  background: #50994F;
  color: #D9D9D9;
  border: 3px solid #5A5B57;
  font-weight: 600;
}

.title {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 280px 0 35px 0;
  gap: 3%;
  padding: 0 10px;
}
.title::after {
  content: "";
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 5px;
  background: #E48156;
  border-radius: 3px;
}
.title img {
  width: 50px;
}
.title img:nth-child(1) {
  transform: translateX(-6px);
}
.title h2 {
  font-family: "raleway";
  font-size: 1.9rem;
  letter-spacing: 6px;
  color: #E48156;
}

.description {
  width: 92%;
  margin: 70px auto 40px auto;
  font-family: "Raleway";
}
.description h1 {
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 100;
  margin-bottom: 10px;
}
.description h1 span {
  color: #50994F;
  font-weight: bold;
}
.description h3 {
  font-size: 1.2rem;
  text-align: justify;
  color: #50994F;
  margin: 15px auto;
  text-align: justify;
}
.description p {
  text-align: justify;
  margin: 8px auto;
  font-size: 1rem;
}
.description img {
  width: 100%;
  margin: 10px auto;
}

.footer {
  background: #5A5B57;
  padding: 20px;
  text-align: center;
}
.footer .footer-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.footer .footer-link .nav-footer {
  font-family: "Raleway";
  color: #E48156;
  font-weight: 600;
  letter-spacing: 2px;
  transition: hover 0.2s ease;
}
.footer .footer-link .nav-footer:hover {
  color: #fff;
}
.footer .footer-link .space {
  height: 30px;
  width: 2px;
  background: #E48156;
}
.footer img {
  width: 28%;
}
.footer p {
  font-family: "Raleway";
  color: #fff;
  font-size: 0.7rem;
}

.repair-cards {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 80%;
  margin: 70px auto 50px auto;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 90%;
  margin: auto;
  border: 3px solid #5A5B57;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: scale(1.05);
}
.card-1::before,
.card-2::before,
.card-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: opacity(0.35);
}

.card-1::before {
  background: url("../assets/img/images-repair/pneu.jpg") center/cover;
}

.card-2::before {
  background: url("../assets/img/images-repair/vidange&revision.jpg") center/cover;
}

.card-3::before {
  background: url("../assets/img/images-repair/pneu.jpg") center/cover;
}

.repair-title {
  position: relative;
  font-family: "Rubik", sans-serif;
  color: #5A5B57;
  font-weight: 600;
  font-size: 1.9rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.5);
  margin-top: 10px;
  text-transform: uppercase;
  z-index: 1;
}

.location-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 80%;
  margin: 70px auto 35px auto;
  text-decoration: none;
}
.location-cards .location-card-1, .location-cards .location-card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 312px;
  width: 100%;
  margin: auto;
  border: 3px solid #5A5B57;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.location-cards .location-card-1 .location-img, .location-cards .location-card-2 .location-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.location-cards .location-card-1 .location-img img, .location-cards .location-card-2 .location-img img {
  text-align: center;
  width: 100%;
  height: 95%;
  background-size: contain;
  position: relative;
  z-index: -1;
}
.location-cards .location-under-card {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
  border-top: 3px solid #5A5B57;
  border-radius: 0 0 7px 7px;
  padding: 7px;
  background: rgba(228, 129, 86, 0.831372549);
  color: #fff;
}
.location-cards .location-under-card p:first-child {
  font-size: 1.3rem;
  font-weight: 600;
}

.header-truck {
  margin-top: 270px;
  text-align: center;
}
.header-truck img {
  width: 90%;
  max-width: 600px;
}
.header-truck .type {
  font-family: "Raleway";
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 15px;
}
.header-truck .model {
  font-family: "Raleway";
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: -5px;
  letter-spacing: -1px;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.info .essence, .info .boite, .info .place {
  min-width: 100px;
  background: #C2DBC1;
  color: #fff;
  border-radius: 6px;
  padding: 4px 10px;
  font-family: "Raleway";
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.dimensions-group {
  width: 80%;
  margin: auto;
  border: 2px solid #C2DBC1;
  border-radius: 6px;
  padding: 15px;
  font-family: "Raleway";
}
.dimensions-group .dimension-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}
.dimensions-group .dimensions {
  display: flex;
  justify-content: space-around;
  margin: 15px auto;
  font-size: 1.1rem;
}
.dimensions-group .dimensions .longueur, .dimensions-group .dimensions .largeur, .dimensions-group .dimensions .hauteur {
  width: 30%;
  max-width: 100px;
  min-width: 65px;
  text-align: center;
  font-size: 0.9rem;
}

.date-choice {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.date-choice p {
  font-family: "Raleway";
  font-size: 1.4rem;
  font-weight: 600;
  margin: 20px auto;
}
.date-choice .continue {
  background: rgba(228, 129, 86, 0.9450980392);
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: 5px 32px;
  font-family: "Raleway";
  font-size: 1.2rem;
  margin: 15px auto;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3607843137);
}

form {
  width: 100%;
}
form .date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Raleway";
  margin-bottom: 25px;
}
form .date .date-debut, form .date .date-fin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 40%;
}
form .date .date-debut label, form .date .date-fin label {
  font-size: 0.9rem;
}
form .date .date-debut input[type=date], form .date .date-fin input[type=date] {
  width: 100%;
  border: 2px solid #50994F;
  border-radius: 6px;
  padding: 5px;
  background: #C2DBC1;
}

.tire-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 75%;
  margin: 80px auto 36px auto;
  border: 4px solid #CBE0CA;
  border-radius: 15px;
  padding: 30px;
  font-family: "Raleway";
}
.tire-form label {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.tire-form select {
  width: 60%;
  height: 40px;
  max-width: 320px;
  border-radius: 5px;
  border: 2px solid #50994F;
  background: rgba(203, 224, 202, 0.4196078431);
  padding: 8px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.tire-form select:focus {
  outline: none;
  border: 1px solid #50994F;
}
.tire-form .validate {
  margin-top: 12px;
  width: 40%;
  max-width: 200px;
  border: none;
  color: #fff;
  background: #E48156;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.tire-form .validate:hover {
  background: rgba(228, 129, 86, 0.9176470588);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.maintenance-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 313px;
  max-width: 470px;
  margin: 70px auto 35px auto;
  border: 4px solid #CBE0CA;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 35px;
}
.maintenance-form .inputs-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.maintenance-form .inputs-group .input-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.maintenance-form .inputs-group > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.maintenance-form .inputs-group > div .info-label {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}
.maintenance-form .inputs-group > div input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 25px;
  min-width: 25px;
  height: 25px;
  border: 2px solid rgba(80, 153, 79, 0.5647058824);
  border-radius: 4px;
  margin-right: 25px;
  background-color: rgba(203, 224, 202, 0.3254901961);
  cursor: pointer;
}
.maintenance-form .inputs-group > div input[type=checkbox]:checked {
  background-color: #50994F;
}
.maintenance-form .inputs-group > div .block-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maintenance-form .inputs-group > div label {
  font-family: "Raleway";
  font-size: 1.1rem;
}
.maintenance-form .inputs-group > div button {
  text-align: end;
  background-color: transparent;
  border: none;
  color: #50994F;
  cursor: pointer;
  margin-left: 30px;
  font-family: "Raleway";
}
.maintenance-form .inputs-group .detail {
  background: rgba(80, 153, 79, 0.7921568627);
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  font-family: "Raleway";
  font-size: 0.8rem;
  text-align: center;
}
.maintenance-form .validate {
  margin-top: 12px;
  width: 40%;
  max-width: 200px;
  border: none;
  color: #fff;
  background: #E48156;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.maintenance-form .validate:hover {
  background: rgba(228, 129, 86, 0.9176470588);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.mechanics-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 70px auto 30px auto;
}
.mechanics-form .validate {
  width: 40%;
  max-width: 200px;
  border: none;
  color: #fff;
  background: #E48156;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.mechanics-form .validate:hover {
  background: rgba(228, 129, 86, 0.9176470588);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.mechanics-form .checkbox-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mechanics-form .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.mechanics-form .form-group .checkbox-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mechanics-form .form-group .checkbox-input input[type=checkbox] {
  display: none;
}
.mechanics-form .form-group .checkbox-input.freinage input[type=checkbox] + label {
  background: url(../assets/img/images-input/freinage.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.batterie input[type=checkbox] + label {
  background: url(../assets/img/images-input/batterie.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.suspension input[type=checkbox] + label {
  background: url(../assets/img/images-input/suspension.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.courroie input[type=checkbox] + label {
  background: url(../assets/img/images-input/courroie.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.eclairage input[type=checkbox] + label {
  background: url(../assets/img/images-input/eclairage.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.carrosserie input[type=checkbox] + label {
  background: url(../assets/img/images-input/carrosserie.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.transmission input[type=checkbox] + label {
  background: url(../assets/img/images-input/transmission.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.moteur input[type=checkbox] + label {
  background: url(../assets/img/images-input/motorisation.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input.echappement input[type=checkbox] + label {
  background: url(../assets/img/images-input/echappement.jpg) center/cover;
}
.mechanics-form .form-group .checkbox-input input[type=checkbox] + label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  height: 90px;
  width: 250px;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  border: 4px solid #50994F;
  position: relative;
  z-index: 1;
}
.mechanics-form .form-group .checkbox-input label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.mechanics-form .form-group .checkbox-input label::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(80, 153, 79, 0.6274509804);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: -1;
}
.mechanics-form .form-group .checkbox-input input[type=checkbox]:checked + label {
  background: rgba(80, 153, 79, 0.9215686275);
  box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.4235294118);
}
.mechanics-form .form-group .checkbox-input label {
  cursor: pointer;
  font-family: "Raleway";
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
}
.mechanics-form .form-group .checkbox-input label .label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.mechanics-form .form-group .checkbox-input label .label .separator {
  width: 90%;
  margin: auto;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
}

.legal-notice {
  width: 90%;
  margin: 70px auto 30px auto;
  text-align: justify;
}
.legal-notice h5 {
  font-size: 1.4rem;
  margin: 20px auto;
  font-family: "Rubik";
}
.legal-notice p {
  font-family: "Raleway";
}
.legal-notice p span {
  font-weight: bold;
}

.privacy-policy {
  margin: 80px auto 30px auto;
  width: 90%;
  text-align: justify;
}
.privacy-policy p {
  font-family: "Raleway";
}
.privacy-policy h5 {
  font-size: 1.4rem;
  margin: 20px auto;
  font-family: "Rubik";
}

.adress {
  display: flex;
  width: 85%;
  margin: 0 auto 40px auto;
}
.adress .info-adress {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 130px;
}
.adress .info-adress p, .adress .info-adress a {
  color: #000;
  font-family: "Rubik";
  font-size: 1.1rem;
  padding-bottom: 6px;
}
.adress .info-adress p:nth-child(1), .adress .info-adress a:nth-child(1) {
  font-weight: 800;
  font-size: 1.3rem;
}
.adress .info-adress a {
  font-family: "Rubik";
}
.adress .info-adress a:hover {
  color: #50994F;
}

.form-container {
  margin: 70px auto 30px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container::after {
  content: "............................................................................................................";
  font-weight: 900;
  margin: 15px auto;
}
.form-container p {
  font-family: "Raleway";
  text-align: center;
}
.form-container form {
  width: 90%;
  margin-top: 40px;
}
.form-container form .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.form-container form .container div {
  display: flex;
  flex-direction: column;
}
.form-container form .container .message {
  grid-column: 1/3;
}
.form-container form label {
  font-family: "Rubik";
  font-size: 1.3rem;
}
.form-container form input,
.form-container form textarea {
  background: #dededd;
  border: 2px solid #5a5b57;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Raleway";
  font-size: 1.2rem;
}
.form-container form input:focus,
.form-container form textarea:focus {
  outline: none;
  border: 3px solid #50994F;
}
.form-container form input::-moz-placeholder, .form-container form textarea::-moz-placeholder {
  font-family: "Rubik";
  font-size: 1.2rem;
}
.form-container form input::placeholder,
.form-container form textarea::placeholder {
  font-family: "Rubik";
  font-size: 1.2rem;
}
.form-container form input {
  height: 40px;
  width: 100%;
}
.form-container form textarea {
  width: 100%;
  height: 150px;
  resize: none;
}
.form-container form button {
  grid-column: 1/span 2;
  grid-row: 4;
  width: 40%;
  background: rgba(228, 129, 86, 0.9450980392);
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: 10px 32px;
  font-family: "Raleway";
  font-size: 1.2rem;
  margin: 15px auto;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3607843137);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-repair {
  width: 75%;
  margin: auto;
  text-align: center;
  border: 3px solid #5A5B57;
  border-radius: 10px;
  padding: 20px;
  background: #B4B4B2;
}
.modal-repair h2 {
  font-family: "Rubik";
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.modal-repair form {
  font-family: "Raleway";
}
.modal-repair form .personal {
  display: flex;
  justify-content: space-around;
}
.modal-repair form .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-repair form label {
  margin-bottom: 8px;
  font-size: 1.3rem;
}
.modal-repair form input {
  margin-bottom: 25px;
  border: 2px solid #50994F;
  border-radius: 5px;
  padding: 5px;
}
.modal-repair form input[type=tel], .modal-repair form input[type=email], .modal-repair form input[type=date] {
  width: 40%;
}
.modal-repair form .info-appointment {
  width: 80%;
  margin: 0 auto 20px auto;
}
.modal-repair form button {
  background: #50994F;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: 6px 35px;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px auto;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3607843137);
}
.modal-repair form button:hover {
  background: #50994F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.modal-location {
  width: 75%;
  margin: auto;
  text-align: center;
  border: 3px solid #5A5B57;
  border-radius: 10px;
  padding: 20px;
  background: #B4B4B2;
}
.modal-location h2 {
  font-family: "Rubik";
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.modal-location form {
  font-family: "Raleway";
}
.modal-location form .personal {
  display: flex;
  justify-content: space-around;
}
.modal-location form .personal .block {
  width: 50%;
}
.modal-location form .personal .block input {
  width: 80%;
}
.modal-location form .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-location form label {
  margin-bottom: 8px;
  font-size: 1.3rem;
}
.modal-location form input {
  margin-bottom: 25px;
  border: 2px solid #50994F;
  border-radius: 5px;
  padding: 5px;
}
.modal-location form input[type=tel],
.modal-location form input[type=email],
.modal-location form input[type=date] {
  width: 40%;
}
.modal-location form .location-appointment {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.modal-location form .location-appointment .block {
  width: 48%;
}
.modal-location form .location-appointment .block [type=date] {
  width: 70%;
}
.modal-location form .price {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal-location form .price h3 {
  font-family: "Rubik";
  font-size: 1.3rem;
  margin-bottom: 8px;
  text-decoration: underline;
}
.modal-location form .price span {
  font-family: "Raleway";
  font-size: 1.2rem;
}
.modal-location form button {
  background: #50994F;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: 6px 35px;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 600;
  margin: 30px auto 10px auto;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3607843137);
}
.modal-location form button:hover {
  background: #50994F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}/*# sourceMappingURL=index.css.map */